*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: honeydew;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color:black;
  text-decoration: none;
}

a:hover {
  color: rgb(194, 19, 19);
  text-decoration: underline;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}