<header>
    <nav>
      <ul style="display: flex;list-style: none;width: 300px;justify-content: space-around;">
        <li><a href="/movies">Peliculas</a></li>
        <li><a href="/genres">Generos</a></li>
        <li><a href="/actors">Actores</a></li>
      </ul>
      <ul style="margin-top:20px;width: 300px;display:flex;justify-content: space-around;list-style: none;">
        <li style="margin: 10px;"><a href="/movies/new">Peliculas Nuevas</a></li>
        <li style="margin: 10px;"><a href="/movies/recommended">Peliculas recomendadas</a></li>
      </ul>
    </nav>
  </header>